@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* setar largura default para todos os navegadores */
    min-width: 0;
}

input {
    color-scheme: dark;
}

.rdp {
    --rdp-accent-color: #bef264;
    --rdp-background-color: #3f3f46;
    --rdp-selected-color: #1a2e05;
}